@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.contattaci,
.eOraVieni {
  position: relative;
  line-height: 50px;
  display: inline-block;
}
.eOraVieni {
  align-self: stretch;
  height: 100px;
  opacity: 0;
}
.eOraVieni.animate {
  animation: 1s ease 0.5s 1 normal forwards tilt-in-top-1;
}
.contattaci {
  height: 50px;
  text-decoration: underline;
  font-weight: 900;
}
.button {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-xl);
  z-index: 0;
}
.button:hover {
  background-color: var(--color-khaki);
  animation: 1s ease 0s 1 normal both shadow-pop-tr;
  opacity: 1;
}
.arrowIcon,
.frameChild,
.frameInner,
.frameItem {
  width: 35.4px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 35.4px;
  object-fit: contain;
  z-index: 1;
}
.arrowIcon,
.frameInner,
.frameItem {
  top: 125.1px;
  z-index: 2;
}
.arrowIcon,
.frameInner {
  top: 0;
  left: 265.1px;
  z-index: 3;
}
.arrowIcon {
  top: 125.1px;
  z-index: 4;
}
.buttonParent,
.textButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonParent {
  padding: var(--padding-31xl);
  position: relative;
  color: var(--color-dimgray-200);
}
.textButton {
  align-self: stretch;
  gap: var(--gap-51xl);
}
.chisiamo3,
.chisiamo3content {
  display: flex;
  justify-content: flex-start;
}
.chisiamo3content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-3xs);
}
.chisiamo3 {
  width: 1200px;
  background-color: var(--color-dimgray-200);
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 960px) {
  .textButton {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .chisiamo3content {
    flex: unset;
    align-self: stretch;
  }
  .chisiamo3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 420px) {
  .chisiamo3content {
    align-self: stretch;
    width: auto;
  }
  .chisiamo3 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
