@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
.chiSiamo1,
.iNostriDifferenti,
.siamoUnTeam {
  align-self: stretch;
  height: 65px;
  position: relative;
  display: inline-block;
  opacity: 0;
}
.chiSiamo1.animate {
  animation: 1s ease 0s 1 normal forwards tilt-in-top-1;
}
.iNostriDifferenti,
.siamoUnTeam {
  height: 216px;
}
.siamoUnTeam.animate {
  animation: 1s ease 0.5s 1 normal forwards tilt-in-top-1;
}
.iNostriDifferenti.animate {
  animation: 1s ease 1s 1 normal forwards tilt-in-top-1;
}
.chisiamotext,
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chisiamotext {
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-martian-mono);
}
.title {
  width: 550px;
  gap: var(--gap-17xl);
  z-index: 0;
}
.chisiamoimageIcon {
  height: 350px;
  width: 350px;
  position: absolute;
  margin: 0 !important;
  top: 238px;
  left: 758px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 1;
  z-index: 1;
}
.chisiamoimageIcon.animate {
  animation: 15s ease 0s infinite reverse forwards rotate-90-cw;
}
.chiSiamo {
  align-self: stretch;
  background-color: var(--color-dimgray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-81xl);
  position: relative;
  gap: var(--gap-422xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-khaki);
  font-family: var(--font-abril-fatface);
}
@media screen and (max-width: 960px) {
  .chiSiamo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 420px) {
  .title {
    align-self: stretch;
    width: auto;
  }
  .chiSiamo {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
