@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px); /* Adjust these values as needed */
  }
  100% {
    transform: translate(0px, 0px); /* Adjust these values as needed */
  }
}
@keyframes move_two {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px); /* Adjust these values as needed */
  }
  100% {
    transform: translate(0px, 0px); /* Adjust these values as needed */
  }
}
@keyframes move_three {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px); /* Adjust these values as needed */
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes move_four {
  0% {
    transform: translate(0px, 0px); /* Adjust these values as needed */
  }
  50% {
    transform: translate(-10px, -10px); /* Adjust these values as needed */
  }
  100% {
    transform: translate(0px, 0px); /* Adjust these values as needed */
  }
}

.frameChild {
  animation: move 2s infinite; /* Adjust the duration as needed */
}
.frameItem {
  animation: move_two 2s infinite; /* Adjust the duration as needed */
}
.frameInner{
  animation: move_three 2s infinite; /* Adjust the duration as needed */
}
.arrowIcon{
  animation: move_four 2s infinite; /* Adjust the duration as needed */

}

.title {
  align-self: stretch;
  height: 83px;
  position: relative;
  /* text-decoration: underline; */
  font-weight: 800;
  display: inline-block;
}
.title.animate {
  animation: 1s ease 0s 1 normal forwards tilt-in-top-1;
}
.siamoUnTeam,
.span {
  font-family: var(--font-poppins);
}
.span {
  font-weight: 500;
}
.digitalBesties {
  /* text-decoration: underline; */
  font-weight: 900;
}
.siamoUnTeamContainer {
  align-self: stretch;
  /* height: 300px; */
  position: relative;
  line-height: 50px;
  display: inline-block;
  ;
}
.siamoUnTeamContainer.animate {
  animation: 1s ease 0.5s 1 normal forwards tilt-in-top-1;
}
.text {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.vectorIcon {
  width: 300px;
  position: relative;
  height: 300px;
  z-index: 0;
}
.vectorIcon1 {
  width: 99.34%;
  position: absolute;
  margin: 0 !important;
  height: 99.34%;
  top: 0.33%;
  right: 0.33%;
  bottom: 0.33%;
  left: 0.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.animation,
.textAnimation {
  display: flex;
  flex-direction: row;
}
.animation {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs);
  position: relative;
  gap: var(--gap-3xs);
  opacity: 1;
}
.animation.animate {
  animation: 15s ease 0s infinite reverse forwards rotate-90-cw;
}
.textAnimation {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-81xl);
 font-size: clamp(15px,4vw, 23px);
  color: var(--color-white);
}
.chisiamo1,
.chisiamo1content {
  display: flex;
  justify-content: flex-start;
}
.chisiamo1content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  /* padding: var(--padding-31xl) 0; */
  gap: var(--gap-21xl);
}
.chisiamo1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 50px 150px 50px 150px;
  background-color: var(--color-dimgray-200);
  background-position: top;
  text-align: left;
  font-size: clamp(40px,4vw, 55px);
  color: var(--color-khaki);
  z-index: 2;
}
.chisiamoimageIcon {
  height: 350px;
  width: 350px;
  animation: 15s ease 0s infinite reverse forwards rotate-90-cw;
}


.taglioCriticoE {
  font-weight: 900;
}
.ilNostroModoContainer {
  align-self: stretch;
  /* height: 150px; */
  position: relative;
  line-height: 50px;
  display: inline-block;
  ;
}
.eOraVieni.animate,
.ilNostroModoContainer.animate,
.unendoCompetenzeMultidisciplContainer.animate {
  animation: 1s ease 0.5s 1 normal forwards tilt-in-top-1;
}
.text1 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-81xl);
 font-size: clamp(15px,4vw, 23px);
  color: var(--color-white);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;

}
.animationChild {
  width: 250px;
  position: relative;
  height: 350px;
  animation: tilt 10s infinite;
}
.animation1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.unendoCompetenzeMultidisciplContainer {
  align-self: stretch;
  /* height: 400px; */
  position: relative;
  line-height: 50px;
  display: inline-block;

}
.text2,
.textAnimation1 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.text2 {
  width: 530px;
  flex-direction: column;
  justify-content: center;
}
.textAnimation1 {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  text-align: right;
}
.chisiamo2,
.chisiamo2content {
  display: flex;
  justify-content: flex-start;
}
.chisiamo2content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-3xs);
  gap: 50px;
}
.chisiamo2 {
  align-self: stretch;
  background-color: var(--color-dimgray-200);
  flex-direction: row;
  align-items: center;
  padding: 50px 150px;
}
.contattaci,
.eOraVieni {
  position: relative;
  line-height: 50px;
  display: inline-block;
}
.eOraVieni {
  align-self: stretch;
  /* height: 100px; */
}
.contattaci {
  height: 50px;
  /* text-decoration: underline; */
  font-weight: 900;
  font-size: 25px
}
.button {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-xl);
  z-index: 0;
}
.button:hover {
  background-color: var(--color-khaki);
  animation: 1s ease 0s 1 normal both shadow-pop-tr;
  opacity: 1;
}
.arrowIcon,
.frameChild,
.frameInner,
.frameItem {
  width: 35.4px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 35.4px;
  object-fit: contain;
  z-index: 1;
}
.arrowIcon,
.frameInner,
.frameItem {
  top: 125.1px;
  z-index: 2;
}
.arrowIcon,
.frameInner {
  top: 0;
  left: 254.1px;
  z-index: 3;
}
.arrowIcon {
  top: 125.1px;
  z-index: 4;
}
.buttonParent,
.textButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonParent {
  padding: var(--padding-31xl);
  position: relative;
  color: var(--color-dimgray-200);
  margin-top: 50px;
}
.textButton {
  align-self: stretch;
  /* gap: var(--gap-31xl); */
}
.container{
  display: flex;
  align-items: center;
  /* height: 300px; */
  /* overflow: hidden; */
}
.scroll{
  white-space: nowrap;
  /* margin: 0 2em; */
}

.scroll div {
  display: flex;
  gap: 5em;
  align-items: center; /* Add this line */
}

.rightToLeft {
  animation: rightToLeft 50s linear infinite;
  /* height: 300px; */
  height: 70px;
}

.chisiamo3content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-3xs);
}
.chisiamo1Parent,
.chisiamo3,
.chisiamo3content {
  display: flex;
  justify-content: flex-start;
}
.chisiamo3 {
  align-self: stretch;
  background-color: var(--color-dimgray-200);
  flex-direction: row;
  align-items: center;
  padding: 50px 150px;
}
.chisiamo1Parent {
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
font-size: clamp(15px,4vw, 23px);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .chisiamoimageIcon {
    width: 250px;
    height: 250px;
  }
  .animationChild {
    width: 200px;
    position: relative;
    height: 300px;
    animation: tilt 10s infinite;
  }
}

@media screen and (max-width: 960px) {
  .siamoUnTeamContainer,
  .title,
  .ilNostroModoContainer
   {
    text-align: center;
  }
  .siamoUnTeamContainer{
    line-height: 35px;
  }
  .ilNostroModoContainer{
    line-height: 35px;
  }
  .unendoCompetenzeMultidisciplContainer{
    line-height: 35px;
  }
.eOraVieni{
  line-height: 35px;
  margin-top: 50px;
}
  .text {
    align-self: stretch;
    width: auto;
    flex: unset;
  }
  .chisiamoimageIcon {
    width: 180px;
    height: 180px;
  }
  .textAnimation {
    flex-direction: column;
    gap: 50px 100px;
    /* padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl); */
    box-sizing: border-box;
  }
  .chisiamo1content {
    flex: unset;
    align-self: stretch;
    padding: 0;

  }
  .chisiamo1,
  .text1 {
    box-sizing: border-box;
  }
  .chisiamo1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px var(--padding-31xl) var(--padding-6xl);
    gap: var(--gap-31xl);
  }
  .text1 {
    /* padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl); */
  }
  .animationChild {
    width: 180px;
    height: 180px;
  }
  .unendoCompetenzeMultidisciplContainer {
    text-align: center;
  }
  .text2 {
    align-self: stretch;
    width: auto;
    /* padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl); */
    box-sizing: border-box;
  }
  .textAnimation1 {
    flex-direction: column;
    gap: var(--gap-31xl);
    /* padding-top: 50px; */
  }
  .chisiamo2content {
    gap: 50px 150px;
    flex: unset;
    align-self: stretch;
  }
  .chisiamo2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-6xl) var(--padding-31xl);
    box-sizing: border-box;
    gap: 50px;
  }
  .textButton {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .chisiamo3content {
    flex: unset;
    align-self: stretch;
  }
  .chisiamo3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl); */
    padding: var(--padding-6xl) var(--padding-31xl);

    box-sizing: border-box;
    gap: var(--gap-31xl);
  }
  .textButton {
    /* gap: 70px; */
  }
}
@media screen and (max-width: 420px) {
  .unendoCompetenzeMultidisciplContainer {
    height: auto;
  }
  .chisiamo1content {
    align-self: stretch;
    width: auto;
    /* padding-top: var(--padding-81xl); */
    box-sizing: border-box;
    gap: 10px;
  }
  .chisiamo1 {
    /* padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl); */
    box-sizing: border-box;
    padding: 50px var(--padding-11xl) var(--padding-6xl) var(--padding-11xl);
  }
  .chisiamo2content {
    align-self: stretch;
    width: auto;
    gap: 50px 150px;
  }
  .chisiamo2 {
    /* padding-left: var(--padding-xl);
    padding-right: var(--padding-xl); */
    padding: 25px var(--padding-11xl) 25px var(--padding-11xl);

    box-sizing: border-box;
  }
  .chisiamo3content {
    align-self: stretch;
    width: auto;
  }
  .chisiamo3 {
    padding: 25px var(--padding-11xl) 25px var(--padding-11xl);

    box-sizing: border-box;
  }
  .chisiamoimageIcon {
    width: 120px;
    height: 120px;
  }
  .animationChild {
    width: 120px;
    height: 120px;
  }
}
