@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
.chiSiamo1,
.iNostriDifferenti,
.siamoUnTeam {
  align-self: stretch;
  height: 65px;
  position: relative;
  display: inline-block;
  /* opacity: 0; */
}
.chiSiamo1.animate {
  animation: 1s ease 0s 1 normal forwards tilt-in-top-1;
}
.iNostriDifferenti,
.siamoUnTeam {
  height: auto;
}
.siamoUnTeam.animate {
  animation: 1s ease 0.5s 1 normal forwards tilt-in-top-1;
}
.iNostriDifferenti.animate {
  animation: 1s ease 1s 1 normal forwards tilt-in-top-1;
}
.chisiamotext,
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chisiamotext {
  gap: 20px 0;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-syne);
}
.title {
  width: 600px;
  gap: 36px 0;
  z-index: 0;
  margin-top: 150px

}
.chisiamoimageIcon {
  height: 400px;
  width: 400px;
  position: absolute;
  margin: 0 !important;
  right: 15%; /* Add this */
  transform: translate(-50%, -50%); /* Add this */
  overflow: hidden;
  flex-shrink: 0;
  opacity: 1;
  z-index: 1;
}
.chisiamoimageIcon.animate {
  animation: 15s ease 0s infinite reverse forwards rotate-90-cw;
}
.chisiamoimageIcon2 {
  height: 200px;
  width: 200px;
  position: absolute;
  margin: 0 !important;
  transform: translate(-50%, -50%); /* Add this */
  top: calc(80%); /* Add this, adjust as needed */
  right: calc(20%); /* Adjust this, adjust as needed */
  overflow: hidden;
  flex-shrink: 0;
  opacity: 1;
  z-index: 1;
}
.chisiamoimageIcon2.animate {
  animation: 15s ease 0s infinite forwards rotate-90-cw;
}
.chiSiamo {
  background-image: url('../../public/wave-haikei\ \(4\).svg');
  background-repeat: no-repeat;
  background-size: cover;
  align-self: stretch;
  background-color: var(--color-dimgray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl);
  position: relative;
  gap: 0 441px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-khaki);
  font-family: var(--font-abril-fatface);
  height: 100vh;
}
@media screen and (max-width: 960px) {
  .chiSiamo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-31xl);
    height: 100%;
  }
}
@media screen and (max-width: 426px) {
  .title {
    align-self: stretch;
    width: auto;
  }
  .chiSiamo {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .chisiamoimageIcon.animate{
    animation: none;
  }
  .chisiamoimageIcon2{
    top:calc(95%);
    right: calc(25%);
  }
  .chisiamotext {
    font-size: var(--font-size-lg);
  }
}

@media screen and (orientation: landscape) {
  .raccontiamoStorieAccendiamo {
    /* Adjust the font size for landscape mode */
    font-size: var(--font-size-21xl);
  }

  .chiSiamo {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Make sure the .motto class takes up the full height */
  }
}
