.email,
.title {
  position: relative;
}
.email {
  width: 523px;
  font-size: var(--font-size-16xl);
  line-height: 0%;
  font-family: var(--font-abril-fatface);
  display: inline-block;
}
.contattitext {
  align-self: stretch;
  gap: 18px 0;
}
.contatti,
.contatticontent,
.contattitext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contatti {
  align-self: stretch;
  background-color: var(--color-palevioletred);
  padding: var(--padding-181xl) 0;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-syne);
}
@media screen and (max-width: 420px) {
  .title {
    font-size: var(--font-size-lg);
  }
  .email {
    font-size: var(--font-size-xl);
  }
}
