.iNostriServizi {
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-martian-mono);
  color: var(--color-black);
  text-align: center;
}
.button,
.servizibutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.servizibutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 18.924102783203125px;
  background-color: var(--color-lightsalmon);
  border-radius: 63.08px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
}
@media screen and (max-width: 420px) {
  .iNostriServizi {
    font-size: var(--font-size-xs);
  }
  .servizibutton {
    align-self: stretch;
    width: auto;
  }
}

@media screen and (orientation: landscape) {
  .servizibutton {
    /* Adjust the button size for landscape mode */
    align-self: stretch;
    width: auto;
    /* Reduce the padding to make the button smaller */
    padding: var(--padding-3xs) 5px;
  }

}
