.sulWebNon {
  margin: 0;
}
.subtitle,
.title {
  align-self: stretch;
  position: relative;
}
.title {
  line-height: 100px;
  text-transform: uppercase;
}
.subtitle {
  font-size: var(--font-size-11xl);
  color: var(--color-palevioletred);
}
.herotext {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px 0;
}
.contattaci {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-martian-mono);
  color: var(--color-khaki);
  text-align: center;
}
.button {
  flex-direction: row;
  align-items: center;
}
.button,
.contattacibutton,
.herobuttons {
  display: flex;
  justify-content: center;
}
.contattacibutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 18.924102783203125px;
  background-color: var(--color-black);
  border-radius: 63.08px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
}
.herobuttons {
  flex-direction: row;
  align-items: flex-start;
  gap: 0 20px;
}
.hero,
.herocontent {
  /* background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25); */
  box-sizing:border-box;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.herocontent {
  align-items: center;
  padding: var(--padding-31xl) 0;
  gap: 30px 0;
  z-index: 3;
  margin-bottom: 150px;
}
.hero {
  background-image: url('../../public/wave-haikei\ \(10\).svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-white);
  align-items: flex-start;
  padding: var(--padding-31xl) 0;
  flex-direction: column;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  text-align: center;
  font-size: var(--font-size-81xl);
  color: var(--color-darkslateblue-200);
  font-family: var(--font-abril-fatface);
  height: 100vh; /* Subtract the height of the navbar from 100vh */
}

/* .bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--color-palevioletred) 50%, var(--color-khaki) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 110vh;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
} */

.content {
  /* background-color: rgba(255,255,255,.8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0,0,0,.25); */
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}


/* Add this CSS to your existing stylesheets or create a new one */

/* Define the liquid drop effect */
@keyframes liquid {
  from {
    height: 15px;
  }
  to {
    height: 109%;
  }
}

/* Style for the container */
.liquidContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensure the drops don't interfere with clicks */
}

/* Style for the liquid drop */
.blob {
  width: 30px;
  height: 30px;
  margin: 0 5px 0px 0;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  animation: drip_one 5s infinite;
}

/* Customize specific drops */
.blob:nth-of-type(4n-7) {
  width: 65px;
  animation: drip_four 5s infinite;
}

.blob:nth-of-type(3n-2) {
  width: 26px;
}

.blob:nth-of-type(2) {
  width: 22px;
}

.blob:nth-of-type(8) {
  animation: drip_five 5s infinite;
}

.blob:nth-of-type(4n+2) {
  height: 56px;
  animation: drip_two 5s infinite;
}

.blob:nth-of-type(6n-2) {
  height: 42px;
  animation: drip_three 5s infinite;
}

/* Define keyframe animations for different types of drops */
@keyframes drip_one {
  from {
    top: 0;
  }
  to {
    top: 103%;
  }
}

@keyframes drip_two {
  from {
    top: 0;
  }
  to {
    top: 104%;
  }
}

@keyframes drip_three {
  from {
    top: 0;
    height: 52px;
  }
  to {
    top: 102%;
    height: 132px;
  }
}

@keyframes drip_four {
  from {
    top: 0;
    width: 65px;
    height: 30px;
  }
  to {
    top: 102%;
    width: 75px;
    height: 45px;
  }
}

@keyframes drip_five {
  from {
    top: 0;
    height: 30px;
  }
  to {
    top: 102%;
    height: 72px;
  }
}




@media screen and (max-width: 960px) {
  .subtitle {
    font-size: var(--font-size-xl);
  }
  .herocontent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 426px) {
  .title {
    font-size: var(--font-size-26xl);
    line-height: 50px;
  }
  .subtitle {
    font-size: var(--font-size-mini);
  }
  .contattaci {
    font-size: var(--font-size-xs);
  }
  .contattacibutton {
    align-self: stretch;
    width: auto;
  }
  .herobuttons {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .herocontent {
    padding-left: var(--padding-mini);
    padding-right: var(--padding-mini);
    box-sizing: border-box;
    margin-bottom: 0px;
  }
  .hero{
    height: 85vh;
  }
}
