.sulWebNon {
  margin: 0;
}
.subtitle,
.title {
  align-self: stretch;
  position: relative;
}
.title {
  line-height: 100px;
  text-transform: uppercase;
}
.subtitle {
  font-size: var(--font-size-11xl);
  color: var(--color-palevioletred);
}
.herotext {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px 0;
}
.contattaci {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-martian-mono);
  color: var(--color-khaki);
  text-align: center;
}
.button {
  flex-direction: row;
  align-items: center;
}
.button,
.contattacibutton,
.herobuttons {
  display: flex;
  justify-content: center;
}
.contattacibutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) 18.924102783203125px;
  background-color: var(--color-black);
  border-radius: 63.08px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
}
.herobuttons {
  flex-direction: row;
  align-items: flex-start;
  gap: 0 20px;
}
.hero,
.herocontent {
  /* background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25); */
  box-sizing:border-box;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.herocontent {
  align-items: center;
  padding: var(--padding-81xl) 0;
  gap: 30px 0;
  z-index: 3;
  margin-bottom: 150px;
}
.hero {
  background-image: url('../../public/wave-haikei\ \(10\).svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-white);
  align-items: flex-start;
  padding: var(--padding-31xl) 0;
  flex-direction: column;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  text-align: center;
  font-size: var(--font-size-81xl);
  color: var(--color-darkslateblue-200);
  font-family: var(--font-abril-fatface);
  height: 100vh; /* Subtract the height of the navbar from 100vh */
}

/* .bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--color-palevioletred) 50%, var(--color-khaki) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 110vh;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
} */

.content {
  /* background-color: rgba(255,255,255,.8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0,0,0,.25); */
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}


@media screen and (max-width: 960px) {
  .subtitle {
    font-size: var(--font-size-xl);
  }
  .herocontent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 426px) {
  .title {
    font-size: var(--font-size-26xl);
    line-height: 50px;
  }
  .subtitle {
    font-size: var(--font-size-mini);
  }
  .contattaci {
    font-size: var(--font-size-xs);
  }
  .contattacibutton {
    align-self: stretch;
    width: auto;
  }
  .herobuttons {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .herocontent {
    padding-left: var(--padding-mini);
    padding-right: var(--padding-mini);
    box-sizing: border-box;
    margin-bottom: 0px;
  }
  .hero{
    height: 85vh;
  }
}
