@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
.iNostriServizi {
  align-self: stretch;
  height: 65px;
  position: relative;
  display: inline-block;
  opacity: 0;
}
.iNostriServizi.animate,
.servizio.animate {
  animation: 1s ease 0s 1 normal forwards tilt-in-top-1;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.serviziotitle {
  position: absolute;
  top: 0;
  left: 0;
}
.heading,
.imageIcon {
  width: 303px;
  position: relative;
  height: 38px;
}
.imageIcon {
  width: 300px;
  height: 284.8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.serviziocontent {
  border-radius: var(--br-8xs);
  height: 345.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px 0;
}
.serviziotext {
  align-self: stretch;
  position: relative;
}
.servizio,
.serviziotextcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.serviziotextcontainer {
  width: 300px;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-martian-mono);
}
.servizio {
  height: 550px;
  border-radius: var(--br-mini);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: 20px 0;
  opacity: 0;
  font-size: var(--font-size-9xl);
}
.heading1 {
  width: 222px;
  position: relative;
  height: 40px;
}
.servizio1 {
  height: 550px;
  border-radius: var(--br-mini);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 20px 0;
  opacity: 0;
}
.servizio1.animate {
  animation: 1s ease 0.5s 1 normal forwards tilt-in-top-1;
}
.heading2 {
  width: 175px;
  position: relative;
  height: 40px;
}
.servizio2 {
  height: 550px;
  border-radius: var(--br-mini);
  background-color: var(--color-dimgray-100);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 20px 0;
  opacity: 0;
}
.servizio2.animate {
  animation: 1s ease 1s 1 normal forwards tilt-in-top-1;
}
.inostriservizi,
.inostriservizicontent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.inostriservizicontent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Replace 300px with the minimum width of your services */
  row-gap: 20px; /* Replace 20px with the desired row gap */
  column-gap: 10px; /* Replace 10px with the desired column gap */
}
.inostriservizi {
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-21xl);
  gap: 30px 0;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-dimgray-300);
  font-family: var(--font-abril-fatface);
  height: 100vh;
}
@media screen and (max-width: 960px) {
  .title {
    padding-left: 0;
    box-sizing: border-box;
  }
  .inostriservizicontent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-11xl);
  }
  .inostriservizi {
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 420px) {
  .title {
    padding-left: 0;
    box-sizing: border-box;
  }
  .inostriservizicontent {
    gap: var(--gap-21xl);
  }
}
