.blackbox {
  width: 156px;
  position: absolute;
  margin: 0 !important;
  top: -2.5px;
  left: 218px;
  border-radius: 0 var(--br-41xl) var(--br-41xl) 0;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 51px;
  z-index: 0;
}
.iNostri {
  white-space: pre-wrap;
}
.servizi {
  color: var(--color-white);
}
.iNostriServiziContainer {
  position: relative;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}
.title {
  width: 362px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-41xl);
  box-sizing: border-box;
  position: relative;
}
.serviziotitle {
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.heading,
.imageIcon {
  width: 298px;
  position: relative;
  height: 28px;
}
.imageIcon {
  width: 300px;
  height: 284.8px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.serviziocontent {
  border-radius: var(--br-8xs);
  height: 345.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px 0;
}
.serviziotext {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.servizio,
.serviziotextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.serviziotextcontainer {
  width: 300px;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-nunito);
}
.servizio {
  border-radius: var(--br-mini);
  background-color: var(--color-orchid);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 511px;
  align-items: center;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-xl);
  gap: 20px 0;
}
.heading1 {
  width: 209px;
  position: relative;
  height: 28px;
}
.servizio1 {
  border-radius: var(--br-mini);
  background-color: var(--color-orchid);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 511px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-xl);
  gap: 20px 0;
}
.heading2 {
  width: 154px;
  position: relative;
  height: 28px;
}
.inostriservizi,
.inostriservizicontent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xl);
  font-size: var(--font-size-4xl);
  color: var(--color-white);
}
.inostriservizicontent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Replace 300px with the minimum width of your services */
  row-gap: 20px; /* Replace 20px with the desired row gap */
  column-gap: 10px; /* Replace 10px with the desired column gap */
}
.inostriservizi {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl);
  gap: 50px 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-syne);
}
@media screen and (max-width: 960px) {
  .title {
    padding-left: 0;
    box-sizing: border-box;
  }
  .inostriservizicontent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-11xl);
  }
  .inostriservizi {
    align-items: center;
    justify-content: flex-start;
  }
  .blackbox {
    left: 188px;
  }
}
@media screen and (max-width: 426px) {
  .title {
    padding-left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .inostriservizicontent {
    gap: var(--gap-21xl);
  }
  .imageIcon {
    width: 270px; /* Add this line */
  }
  .serviziotext {
    font-size: 14px; /* Add this line */
    padding: 15px;
  }
}
