body{
    margin: 0!important;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--color-dimgray-200);
    width: 100vw;
    height: 100vh;
  }

.longdigitalbesties {
    height: clamp(60px, 100vw / 10, 100px);
  }
  
.progress {
    margin-top: clamp(5px, 2.5vw, 10px);
    position: relative;
    height: 10px;
    width: 35%;
    border: 10px solid #ce6a85;
    border-radius: 15px;
  }
  
  .progress .color {
    position: absolute;
    background-color: #ffff;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 1.5s  linear;    
  }

@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};


