@keyframes tilt-in-top-1 {
  0% {
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
.ilNostroCredo,
.raccontiamoStorieAccendiamo {
  align-self: stretch;
  height: 24px;
  position: relative;
  display: inline-block;
}
.ilNostroCredo.animate {
  animation: 1s ease 0s 1 normal forwards tilt-in-top-1;
}
.raccontiamoStorieAccendiamo {
  height: 335px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-abril-fatface);
  color: var(--color-black);
  opacity: 1;
}
.raccontiamoStorieAccendiamo.animate {
  animation: 1s ease 0.5s 1 normal both tilt-in-top-1;
}
.title {
  align-self: stretch;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl) 0;
  box-sizing: border-box;
  gap: 20px 0;
  z-index: 0;
}
.mottoimageIcon {
  height: 400px;
  width: 400px;
  position: absolute;
  margin: 0 !important;
  top: 40px;
  right: 200px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 1;
  z-index: 1;
  animation: 20s linear 0s infinite normal forwards rotate-90-cw;
}
/* .mottoimageIcon.animate {
  animation: 20s linear 0s infinite normal forwards rotate-90-cw;
} */
.motto {
  align-self: stretch;
  background-color: var(--color-palevioletred);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-81xl);
  position: relative;
  gap: 0 441px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-martian-mono);
}
@media screen and (max-width: 960px) {
  .motto {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-31xl);
    height: 60vh;
  }
}
@media screen and (max-width: 426px) {
  .raccontiamoStorieAccendiamo {
    font-size: var(--font-size-13xl);
  }
  .title {
    align-self: stretch;
    width: auto;
    padding: 0px;
  }
  .motto {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
    
  }
  .mottoimageIcon{
    height: 200px;
    top:80%;
    right: 0%;
  
  }
}
