.logoframeIcon {
  width: 50px;
  position: relative;
  height: 51.3px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.hiSiamo {
  text-transform: lowercase;
}
.chisiamo {
  position: relative;
  font-weight: 600;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-6xl);
}
.clipPathGroup {
  height: 60px;
  width: 60px;
  position: relative;
  display: none;
}
.navbar,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-end;
  gap: var(--gap-6xl);
}
.navbar {
  width: 1200px;
  max-width: 100%;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-31xl);
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 960px) {
  .chisiamo {
    font-size: var(--font-size-xl);
  }
  .links {
    display: none;
  }
  .clipPathGroup {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  .chisiamo {
    font-size: var(--font-size-mini);
  }
  .links {
    display: none;
  }
  .clipPathGroup {
    display: flex;
  }
}
