.serviziotitle {
  /* position: absolute; */
  top: 0;
  left: 0;
  font-weight: 800;
}
.serviziotitolo {
  width: 100%;
  position: relative;
  /* height: 60px; */
  text-align: left;
  font-size: clamp(20px,4vw, 40px);
}
.reduce {
  width: 29px;
  display: none;
}
.extend,
.reduce {
  position: relative;
  text-transform: capitalize;
  font-weight: 800;
  font-size: clamp(30px, 4vw, 50px);
  user-select: none;
  z-index: 1;
}
.serviziopreview,
.serviziotextcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.serviziopreview {
  flex: 1;
  justify-content: space-between;
}
.serviziotextcontainer {
  align-self: stretch;
  justify-content: center;
  align-items: center;

  font-size: var(--font-size-31xl);
}
.serviziotext {
  width: 80%;
  position: relative;
  font-weight: 200;
  display: none;
  flex-direction: row;
}
.digitalStrategy {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-14xl);
}
.serviziotext1 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.servizicontainer {
  /* width: 900px; */
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--color-lightsalmon);
  /* display: grid; */
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; /* Adjust this as needed */
}
.servizioExpandedContent {
  /* Other styles */
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-left: 10px;
  font-size: clamp(15px,4vw, 23px);

}

.serviziopreview1 {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Adjust this as needed */
  justify-content: center;
  width: 100%;
}

.servizio.expanded .servizioExpandedContent {
  /* margin-top: var(--br-mini); */
}

li{
  list-style-type: circle;
}
.servizio,
.serviziocontent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.serviziocontent {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  padding: var(--padding-16xl) var(--padding-31xl);
}

.servizio {
  align-items: flex-start;
  text-align: left;
  font-size: clamp(15px,4vw, 23px);
  font-family: var(--font-poppins);
  background-color: var(--color-whitesmoke);
  color: var(--color-dimgray-100);
    /* Other styles */
  /* max-height: 300px; Adjust this to the initial height of the card */
  height: auto;

  transition: max-height 1s ease-in-out;

}
.servizio.expanded {
  background-color: #6C4159;
  color: var(--color-whitesmoke);
}
.expanded {
  max-height: 1000px; /* Adjust this to a value larger than the expanded height of the card */
}

.show {
  display: block;
}

.servizioContainer {
  display: flex;
  align-items: center; /* This will vertically center the image and the text */
}

.servizioImage {
  margin-right: 20px;
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  /* transition: opacity 0.5s ease-in-out, height 0s 0.5s, width 0s 0.5s; */
  scale: 1.2;
}

.servizioImage.show {
  height: 280px;
  width: 280px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, height 0s, width 0s;
  overflow: visible;
  align-self: center;
}


@keyframes rotateAndFade {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(18deg); }
  20% { transform: rotate(36deg); }
  30% { transform: rotate(54deg); }
  40% { transform: rotate(72deg); }
  50% { transform: rotate(90deg); }
  60% { transform: rotate(108deg); }
  70% { transform: rotate(126deg); }
  80% { transform: rotate(144deg); }
  90% { transform: rotate(162deg); }
  100% { transform: rotate(180deg); }
}

@keyframes reverseRotateAndFade {
  0% { transform: rotate(180deg); }
  10% { transform: rotate(162deg); }
  20% { transform: rotate(144deg); }
  30% { transform: rotate(126deg); }
  40% { transform: rotate(108deg); }
  50% { transform: rotate(90deg); }
  60% { transform: rotate(72deg); }
  70% { transform: rotate(54deg); }
  80% { transform: rotate(36deg); }
  90% { transform: rotate(18deg); }
  100% { transform: rotate(0deg); }
}

.rotate {
  animation: rotateAndFade 0.5s ease-in-out forwards;
}

.reverseRotate {
  animation: reverseRotateAndFade 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.serviziotext, .servizicontainer {
  opacity: 0;
  display: none;
}

.fadeInGrid {
  animation: fadeIn 1s forwards;
  /* animation-delay: 1s; */
  display: grid !important;
}

.fadeInFlex {
  animation: fadeIn 1s forwards;
  /* animation-delay: 1s; */
  display: flex !important;
}


@media (max-width: 1024px) {
  .serviziotext {
    width: 100%;
  }
  .servizioExpandedContent {
    width: 90%;
  }
  li{
    font-size: 20px
  }
}

@media (max-width: 768px) {
  .serviziotext {
    width: 100%;
    /* text-align: center; */
  }
  .servizioExpandedContent {
    width: 100%;
    margin-left: 5px;
    flex-direction: column;
  }

  .servizio.expanded .servizioExpandedContent {
    margin-top: 10px;
    gap: 15px;

  }
  .servizicontainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px; /* Adjust this as needed */
    /* justify-items: center; */
  }
  .servizicontainer {
    align-items: start;
    justify-content: start;
    text-align: start;
  }
  ul{
    padding: 0px;
  }

  .serviziocontent {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    align-items: start;
    padding: var(--padding-16xl) 30px;
  }
  
  .servizio.expanded .servizioExpandedContent {
    /* margin-top: var(--padding-3xs); */
  }
  .servizioImage.show {
    height: 150px;
    width: 150px;
  }
  .serviziopreview1 {
    gap: 15px; /* Adjust this as needed */
  }
  

}

@media (max-width: 420px) {
  li{
    font-size: 14px;
    /* text-align: center; */
    /* object-position: center; */
      list-style-type: none;
  }
  .digitalStrategy {
    padding-left: 0px;
  }
}