.container{
  display: flex;
  align-items: center;
  /* height: 300px; */
  /* overflow: hidden; */
}

.scroll{
  white-space: nowrap;
  /* margin: 0 2em; */
}

.scroll div {
  display: flex;
  gap: 5em;
  align-items: center; /* Add this line */
}

.rightToLeft {
  animation: rightToLeft 50s linear infinite;
  /* height: 300px; */
  height: 70px;
}

.longdigitalbesties{
  height: 50px;
}
@keyframes rightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 420px) {
  .rightToLeft {
    height: 50px;
  }

  .scroll div {
    display: flex;
    gap: 2em;
    align-items: center; /* Add this line */
  }
  .longdigitalbesties{
    height: 35px;
  }
}