@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Keania+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PixdorTwo:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-abril-fatface: "Abril Fatface";
  --font-syne: Syne;
  --font-martian-mono: "Martian Mono";
  --font-lily-script-one: "Lily Script One";
  --font-poppins: Poppins;
  --font-nunito: Nunito;
  --font-pixdortwo: PixdorTwo;
  --font-keania-one: "Keania One";

  /* font sizes */
  --font-size-16xl: 35px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-9xl: 28px;
  --font-size-29xl: 48px;
  --font-size-31xl: 50px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-81xl: 100px;
  --font-size-26xl: 45px;
  --font-size-7xl: 26px;
  --font-size-36xl: 55px;
  --font-size-6xl: 25px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-palevioletred: #ce6a85;
  --color-black: #000;
  --color-white: #fff;
  --color-dimgray-100: #6c4159;
  --color-dimgray-200: #5c374c;
  --color-dimgray-300: #5b364b;
  --color-khaki: #ffe194;
  --color-lightsalmon: #faa275;
  --color2: #52308b;
  --color-darkslateblue-200: #662e57;
  --color-mediumvioletred: #e045aa;
  --color-gainsboro: #e3e3e3;
  --color-whitesmoke: #e9e9e9;
  --color-aliceblue: #e5eff7;

  /* Gaps */
  --gap-lg: 18px;
  --gap-11xl: 30px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-6xl: 25px;
  --gap-422xl: 441px;
  --gap-31xl: 50px;
  --gap-17xl: 36px;
  --gap-3xs: 10px;
  --gap-51xl: 70px;
  --gap-131xl: 150px;
  --gap-81xl: 100px;
  --gap-sm: 14px;
  --gap-2xl: 21px;

  /* Paddings */
  --padding-181xl: 200px;
  --padding-31xl: 50px;
  --padding-21xl: 40px;
  --padding-11xl: 30px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-81xl: 100px;
  --padding-lg-9: 18.9px;
  --padding-6xl: 25px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-16xl: 35px;
  --padding-14xl: 33px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-44xl-1: 63.1px;
  --br-xl: 20px;
}
